.header {
  background: $brand-color;
  margin-bottom: 1.45rem;
  position: fixed;
  width: 100vw;
  height: 100px;
  z-index: 100;
}

.header-container {
  margin: 0 auto;
  padding: 1.45rem 1.0875rem;
}
