.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  h2 {
    margin: 50px 0;
    text-align: center;
  }
}

.form-pro-subtitle {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin-bottom: 20px;
  .form-pro-titles {
    height: 100%;
    width: 50%;
    min-width: 315px;
    h3 {
      margin-bottom: 40px;
      text-align: center;
    }
    h5 {
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 27px;
      text-align: center;
    }
  }
  .form-pro-image {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 15px 0;
    img {
      height: 350px;
      width: auto;
    }
  }
}

.form-subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.form-row {
  width: 50%;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.submit-zone {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-subtitle {
  @media(max-width: 991px) { h5 { font-size: 17px; } }
  @media(max-width: 860px) { h5 { font-size: 16px; } }
  @media(max-width: 470px) { h5 { font-size: 15px; } }
  @media(max-width: 370px) { h5 { font-size: 13px; } }
}

@media(max-width: 575px) {
  .form-subtitle {
    width: 90%;
  }
  .form-row {
    width: 90%;
    input {
      font-size: 13px;
    }
    textarea {
      font-size: 13px;
    }
  }
}

@media(max-width: 787px) {
  .form-pro-subtitle {
    flex-direction: column;
    .form-pro-titles {
      width: 100%;
      h5 {
        font-size: 15px;
      }
    }
    .form-pro-image {
      justify-content: center;
      align-items: center;
    }
  }
  .form-subtitle {
    width: 90%;
  }
}

@media(max-width: 991px) { .form-subtitle h3 { font-size: 28px; } }
@media(max-width: 520px) { .form-subtitle h3 { font-size: 20px; } }
