.flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  align-items: center;
  justify-content: flex-start;
}

.search-bar {
  margin: 10px 0 40px 0;
  padding-left: 10px;
  width: 300px;
  border-radius: 3px;
  font-weight: 300;
  font-size: 16px;
  height: 30px;
  border: 1px solid #ccc;
}

.jobs-container {
  width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #4D525E;
  h2 {
    margin: 50px;
  }
}

.card-col {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.job-card {
  position: relative;
  border-radius: 5px;
  box-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  transition: all .2s ease-in-out;
  a {
    text-decoration: none;
    color: #4D525E;
  }
  &:hover {
    transform: scale(1.03);
    .card-text {
      background-color: #F7BA45;
      h6 {
        color: white;
        font-weight: 600;
      }
    }
  }
}

.card-text {
  position: absolute;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  h6 {
    color: #4D525E;
    text-align: center;
    margin: 0;
    font-weight: 600;
  }
}
